<section class="hero is-fullheight">
  <div class="hero-head">
      <nav class="navbar is-transparent">
          <div class="navbar-brand">
              <a class="navbar-item" href="/index.html">
                Logo
            </a>
          </div>
      </nav>
  </div>
  <div class="hero-body">
    <div class="animate__animated animate__fadeInLeft">
      <p class="title has-text-white has-text-centered">
        Auch du kannst zum Helden werden
      </p>
      <p class="subtitle has-text-white has-text-centered">
        Investiere jetzt in deine nachhaltige Zukunft!
      </p>
      <p class="subtitle has-text-white has-text-centered">
          <a class="button is-success is-active" href="/about.html">
              <span>Mehr Erfahren</span>
              <span class="icon">
                  <i class="fas fa-chevron-right"></i>
              </span>
              
          </a>
      </p>
    </div>
  </div>
</section>